h1{
    color: blue;
    text-align: center;
}
.c1{
     color: coral;
     font-family:georgia;
     font-size:20px;
     font-style:italic;
 }
 .c2{
      color: darkblue;
      font-family:georgia;
      font-size:20px;
      font-style:italic;
  }
  .c3{
       color: crimson;
       font-family:georgia;
       font-size:20px;
       font-style:italic;
   }
   
   
   .container{
     width: 80%;
     margin: auto;
     border: 5px black dotted;
     padding:15px;
   }
   form button{
     background-color:black;
     color:white;
     width:15%;
     padding-left:10px;
     float:right;
 }